[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
grpcio = "*"
grpcio-tools = "*"
bcrypt = "*"
protobuf-deps = "*"

[requires]
python_version = "3.5"
