[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[packages]
grpcio = "*"
flask = "*"
flask-restplus = "*"
protobuf = "*"
logger-crud = "*"
protobuf-deps = "*"

[requires]
python_version = "3.5"
